.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  width:  90%  !important;
  padding-left: 5px;

 display: flex !important;
 align-content: center !important; 
 justify-content: center !important;
 justify-self: center !important;
 margin:  auto auto;

}
 

.footer .logof{
  margin: 0% !important ;
}

.footer .logof img {
  width: 30%;
  margin-bottom: 1rem;
}
.footerp {
  color: var(--text-color) !important;
}
.footer .logof p {
  color: var(--text-color) !important;
}

.social__links span a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 1.2rem;
}

.footer__link-title {
  color: var(--heading-color);
  margin-bottom: 1rem;
}

.footer__quick-links li a {
  text-decoration: none;
  color: var(--text-color);
 
}

.footer__quick-links h6 span i {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.copyright {
  color: var(--text-color);
  font-size: 1rem;
}


.email{
  display: flex;
  
}


@media screen and (max-width: 1136px) {
  .footer {
    padding: 10px;
  
  
  }

}

@media screen and (max-width: 557px) {

  .row{padding: 0;}
  .footer {max-width:  550px;}
  .yellowbox{
    align-self: center;
    align-items: center;
    justify-self: center;
    justify-items: center;
    display: flex;
    
  }

  .footer__quick-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
  }
  .footerp{
    font-size: 1rem;
  }

  .copyright{

    font-size: 1rem;

  }
  
  }
@media screen and (max-width: 337px) {
  

  .footer h6, .footer h5, .footer a {
    font-size: 1rem;
  }

  .footer__quick-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
  }

  .social__links span a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1rem;
  }
  .email{
    display: flex;
    font-size: 1rem !important;
    
  }
  .mb-0.email{
    display: flex;
  }
  .footer__quick-links .resp{
    display: flex !important;
    flex-direction: column !important;
   align-items: flex-start !important;
   justify-items: flex-start !important;

  }
  .copyright{
    display: flex;
    align-items: center;

    font-size: 1rem;

  }


  }