@tailwind base;
@tailwind components;
@tailwind utilities;

.certificate {
  max-width: 30rem !important;
  width: 90%;
}

.head {
  font-size: 1.5rem  !important;
  color: var(--background-color)!important ;
}

.bdy {
  background-color: var(--secondary-color);
}
.ctext {
  color: var(--background-color);
}

.details p {
  margin-left: 0 !important;
  width: 100%;
  color: var(--background-color) !important  ;
  background-color: #fff;
}
.check{
    fill: goldenrod;
}

@media only screen and (max-width: 975px) {

  .gridcontainer{
    display: grid;
    align-items: center;
    justify-items: center;


    
  }
  .certificate {
    max-width: 25rem !important;
    width: 70%;
  }
  

}

@media only screen and (max-width: 450px) {
  .certificate {
    max-width: 20rem !important;
    width: 70%;
  }
  

}
